# Go vendor folder (docker build uses go mod)
vendor/

# Make files
build/
Makefile

# Kubernetes
k8s/

# Builds
target/

# Git
.git
.gitignore

# IDE/editor files
.bin/
.vscode/
.idea/
test/

# Logs
*.log

# Test results / coverage
coverage/
*.coverprofile
*.cov
*.testresult

# CI/CD leftovers
.env
.env.*
*.bak

# Docs
docs/
README.md
CHANGELOG.md

# Others
.mockery.yaml
sonar-project.properties
