NAMESPACE=ecosystem
STAGE=development
LOG_LEVEL=debug

EXPORTER_API_KEY=secretApiKey
IMPORTER_PUBLIC_KEY=somePublicKey

#RUNTIME_ENV=remote
#KUBE_CONTEXT_NAME=gke_ces-operations-internal_europe-west3-c_ces-test-troubleshooting